<div>
    <div>{{course.title}}
        <p>{{course.status}}</p>
        <div>
            <select class="form-control" #statusRef>
                <option value="active">Active</option>
                <option value="inactive">InActive</option>
                <option value="draft">Draft</option>
            </select>

            <button class="btn btn-primary mx-1 ex-1" (click)="onStatusUpdate()">
                Update Status
            </button>

            <button class="btn btn-danger mx-1 ex-1" (click)="onCourseDelete()">
                Delete
            </button>
        </div>
    </div>
</div>